body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  user-select: none;
  background-image: linear-gradient(to bottom, #cfffc5 0%, #abf678 51%);
  font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
    "Roboto", sans-serif;
  font-size: 30px;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  width: 100%;
  text-transform: uppercase;
  flex-direction: column;
  display: flex;
}

/* Portrait layout (default) */
.app {
  width: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0px;
  overflow: visible;
  text-align: center;
  color: rgba(255, 0, 149, 0.8);
}

ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

#formulario {
  color: rgba(255, 0, 149, 0.8);
  display: inline-block;
  flex-direction: column;
  align-items: center;
}

#formulario label {
  width: 50%;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 25px;
  padding: 10px;
}

#formulario input {
  width: 50%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.event {
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px;
}

.event.listening {
  background-color: #333333;
  display: block;
}

.event.received {
  background-color: #4b946a;
  display: none;
}

#deviceready.ready .event.listening {
  display: none;
}
#deviceready.ready .event.received {
  display: block;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}

#pic {
  width: 50px;
  height: 50px;
}

.boton_juegos {
  font-weight: 800;
  width: 200px;
  line-height: 50px;
  padding: 4px 25px;
  background: rgba(255, 0, 149, 0.8);
  border: rgba(162, 16, 111, 0.8);
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 20px auto;
}

#btn-guardar-perfil {
  font-weight: 800;
  width: 100px;
  padding: 4px 25px;
  background: rgba(255, 0, 149, 0.8);
  border: rgba(162, 16, 111, 0.8);
  color: #fff;
  border-radius: 20px;

  margin: 20px 0;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
}
.popupPuntos {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 80vh;
  color: white;
}

.popup-contenido {
  font: small-caption;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 160, 215, 0.8);
  padding: 10px;
  max-width: 300px;
  border-radius: 5px;
  color: white;
}

.cerrar {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
}

#botonPuntaje,
.boton-empezar {
  font-weight: 800;
  width: 100px;
  line-height: 25px;
  padding: 2px 12px;
  background: #50df74;
  border: rgba(162, 16, 111, 0.8);
  color: #fff;
  border-radius: 10px;

  margin: 10px 0;
}

a {
  text-decoration: none !important;
}

/* Estilos básicos para la tabla */
table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  font-size: 0.8em; /* Tamaño de fuente más pequeño para móviles */
}
th,
td {
  border: 1px solid rgba(255, 0, 149, 0.8);
  text-align: center;
  width: 90px;
  padding: 8px;
}
/* Estilos para la primera fila y columna vacía */
th:first-child,
td:first-child {
  border: none;
  border: 1px solid rgba(255, 0, 149, 0.8);
}

/* Estilo del modal (debería estar oculto inicialmente) */
.modal {
  display: none; /* Ocultar el modal por defecto */
  position: fixed; /* Mantenerlo fijo en pantalla */
  z-index: 1; /* Situarlo sobre otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  overflow: auto; /* Habilitar scroll si es necesario */
  background-color: rgb(0, 0, 0); /* Color de fondo con opacidad */
  background-color: rgba(0, 0, 0, 0.4); /* Negro con opacidad */
}

/* Estilo del contenido del modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% desde la parte superior y centrado horizontalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del contenido */
}

/* Estilo del botón para cerrar el modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
