

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: none;
    background-color:#E4E4E4;
    background-image:linear-gradient(to bottom, #cfffc5 0%, #abf678 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:16px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width:100%;
}

/* Portrait layout (default) */
.app {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-wrap: wrap;

}


h1 {
   text-align: center;
   color: rgba(255, 0, 149, 0.8);
}


.dado
{

    border: 2px solid transparent;

}

.dado.seleccionado 
{

    border: 2px solid rgba(255, 0, 149, 0.8);

}

/* tendria que ser del color del usuario correspondiente */
.turnoActual {

    background-color: black;
}

#modal {

    background-color: rgba(255, 0, 149, 0.8);

    border-radius: 1em;

    color: white;

    text-align: center;
}

button {
    background-color:  rgba(255, 0, 149, 0.8);
    color: white ;
    border:#abf678;
    border-radius: 1em;
}


#modal p{

    padding: 0,25rem;
    
}

.nodisp {

    display: none;
}

#modal2 {

    background-color:  rgba(255, 0, 149, 0.8);
   
    border-radius: 1em;
}

#modal2 h2{

    background-color:  rgba(255, 0, 149, 0.8);

    border-radius: 0,2em;

}

#modal2 p{

    padding: 0,25rem;
}


@media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #cfffc5 0%, #abf678 51%);
    }
}

