body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  user-select: none;
  background-color: #e4e4e4;
  background-image: linear-gradient(to bottom, #cfffc5 0%, #abf678 51%);
  font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
    "Roboto", sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  width: 100%;
  display: relative;
}

/* Portrait layout (default) */
.app {
  width: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  margin: 14px;

  
}

h1 {
  text-align: center;
  color: rgba(255, 0, 149, 0.8);
}

#enlace-volver {
  margin-top: -78px;
  padding-right: 180px;
}

#enlace-volver img {
  width: 40px;
  height: 40px;
}
.dado {
  border: 2px solid transparent;
}

.dado.seleccionado {
  border: 2px solid rgba(255, 0, 149, 0.8);
}

/* tendria que ser del color del usuario correspondiente */
.turnoActual {
  background-color: rgb(40, 115, 190);
}

#modal {
  background-color: rgba(255, 0, 149, 0.8);
  border-radius: 1em;
  color: white;
  text-align: center;
  padding: 5px 10px;
  margin: auto;
  position: absolute;
  top: 200px;

  z-index: 30;
}

button {
  font-weight: 800;
  width: 82px;
  line-height: 20px;
  line-height: 2;
  padding: 1px;
  background: rgba(255, 0, 149, 0.8);
  border: rgba(162, 16, 111, 0.8);
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  margin: 20px 0;
}
.area-dados {
  /* padding-bottom: 60px; */
  /* Reduce el tamaño del área de los dados */
  font-size: 0.8em; /* Ajusta según sea necesario */
}
#dados {
  margin-top: -70px;
  display: flex;
  flex-direction: column;
}
table#puntajes {
  margin-bottom: 50px;
  margin-left: 90px;


}
#puntajes {
  background-color: #f13295;
    border-radius: 6px;
    width: 55%;
  
  }

#modal p {
  padding: 0, 25rem;
}

.nodisp {
  display: none;
}
#modal,
#modal2 {
  background-color: rgba(255, 0, 149, 0.8);
  border-radius: 1em;
  color: white;
  text-align: center;
  padding: 5px 10px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

#modal2 h2 {
  background-color: rgba(255, 0, 149, 0.8);

  border-radius: 0, 2em;
}

#modal2 p {
  padding: 0, 25rem;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-image: linear-gradient(to bottom, #cfffc5 0%, #abf678 51%);
  }
}

.boton_juegos {
  font-weight: 800;
  width: 20px;
  line-height: 20px;
  line-height: 2;
  padding: 1px;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  margin: 20px 0;
}
.btnscont {
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 100px;

  /* padding-bottom: 60px; */

}
.contenedorJuego {
  display: flex;
  width: 90%;
  padding: 0 50px;
  margin: 0 auto;
  height: 80vh;
  align-items: center;
}
@media screen and (max-width: 400px) {
  body {
    align-items: center;
  }
  .header {

    padding-top: 43px;
  display: block;
  align-items: center;
  }
  .contenedorJuego {
    font-size: larger;
    flex-direction: column;
    height: 120%;
    width: 90%;
    padding: 15px;
    align-items: center;
  }

  .btnscont {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
  #dados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .area-dados {
    font-size: 0.8em; /* Ajusta según sea necesario */
  }
  #puntajes {
    background-color: #f13295;
  border-radius: 6px;
  width: 85%;
  margin: 8px auto;
  font-size: 1, 5em;
  }
}


